@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'SUIT Variable', 'Noto Sans KR', sans-serif;
    color: #4b4b4b;
    background-color: white;
    transition: background-color 0.3s ease;
  }
}

@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSYuji-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.TILFont {
  font-family: 'MaplestoryOTFBold', serif;
}

.grassFont {
  font-family: 'HSYuji-Regular', serif;
}

/* test  */
.main-container {
  @apply mx-auto flex h-screen flex-col;
}

.sub-container {
  @apply relative mx-auto flex w-full flex-row gap-x-5 py-10;
}

.contents-container {
  @apply mx-auto flex w-full flex-col rounded-lg border-2 border-gray-200 bg-white p-6;
}

.rank-container {
  @apply mx-auto flex h-[312px] w-[800px] flex-col rounded-lg border-2 border-gray-200 bg-white p-6;
}

.sidebar-container {
  @apply relative float-left h-fit w-[400px];
}

.sidebar {
  position: absolute;
  transition: transform 0.3s linear;
}

.teaminfo-container {
  @apply mx-auto flex w-full flex-col rounded-lg border-2 border-gray-200 bg-white p-6;
}

.write-container {
  @apply mx-auto flex w-full flex-col justify-between rounded-lg border-2 border-gray-200 bg-white p-6;
}

.quote-container {
  @apply mx-auto flex w-full flex-col justify-between rounded-lg border-2 border-gray-200 bg-white p-6;
}

.grass-container {
  @apply flex w-[800px] flex-col rounded-lg border-2 border-gray-200 bg-white p-6;
}

.profile-container {
  @apply mx-auto flex h-[222px] w-[400px] flex-col rounded-lg border-2 border-gray-200 bg-white;
}

.ad-container {
  @apply mx-auto flex w-[400px] flex-col rounded-lg border-2 border-gray-200 bg-white;
}

.setting-container {
  @apply fixed bottom-[24px] right-[24px] z-50 flex flex-row gap-x-2;
}

.slogan-container {
  @apply flex flex-row justify-center w-[800px] h-[150px]
}

.profileImg {
  transition: 1.5s;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
}

/* .slick-list {
  margin-right: -20px;
} */

.slick-slide {
  padding-right: 20px;
  padding-left: 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.TIL {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50vh;
  max-height: 400px;
  transition: 0.4s ease-in-out;
}

.TIL:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

/* 로딩 바 */
.progress {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 10px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  width: 100%;
  background-color: #ff8f00;
  animation: progressAnimation 5s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #ffe082;
  }
  100% {
    width: 100%;
    background-color: #ff8f00;
  }
}


.card {
  position: relative;
  transition: transform 1.2s;
  transform: perspective(3000px) rotateY(0deg);
  transform-style: preserve-3d;
  display: inline-grid;
  margin: 0 auto;
}

.card.flipped {
  transform: perspective(3000px) rotateY(180deg);
}

.card-back {
  transform: perspective(3000px) rotateY(180deg);
}

.card > * {
  grid-area: 1 / 1 / 1 / 1;
  backface-visibility: hidden;
}

/* md editor 폰트 크기 */
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 20px !important;
  line-height: 30px !important;
}

/* 마인드맵 */
.target-popper {
  @apply z-20 hidden rounded bg-yellow-100 p-2 text-center opacity-70;
}
.target-popper.active {
  @apply block;
}

/* 모달창 버튼 */
.btn-request {
  @apply w-fit rounded-md border-none bg-amber-500 px-2 py-1 text-[0.7rem] font-bold text-white;
}

.btn-delete {
  @apply w-fit rounded-md border-none bg-red-500 px-2 py-1 text-[0.7rem] font-bold text-white;
}

.btn-accept {
  @apply w-fit rounded-md border-none bg-green-300 px-2 py-1 text-[0.7rem] font-bold text-white;
}

.btn-reject {
  @apply w-fit rounded-md border-none bg-red-500 px-2 py-1 text-[0.7rem] font-bold text-white;
}

button:hover .cock-button-img {
  transform: translateX(-6px); /* 이미지를 왼쪽으로 10px 이동 */
  transition: transform 0.5s ease; /* 애니메이션 효과 적용 */
}

@keyframes highContrastTwinkle {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(100%);
  }
  25%,
  75% {
    opacity: 0.8;
    transform: scale(1.1);
    filter: brightness(100%);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.05);
    filter: brightness(100%);
  }
}
.highlight-effect {
  animation: highContrastTwinkle 2s ease-in-out infinite;
}

/* slogan 애니메이션 */
.animation-container {
  @apply rounded w-[400px] overflow-hidden
}

.star {
  animation: star-move 15s infinite;
  @apply relative z-10 mx-auto w-[100px] h-[100px] bg-cover
}

.diary {
  animation: diary-move 15s infinite;
  @apply relative z-0 mx-auto w-[100px] h-[100px] bg-cover
}

.animation-container .star {
  background-image: url('/images/logo-with-pen.png');
}

.animation-container .diary {
  background-image: url('/images/yellow-diary.png')
}

@keyframes star-move {
  0% {
    transform: translateX(-200px) translateY(200px) rotate(-30deg);
  }
  30% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateX(10px)
  }
  50% {
    transform: translateX(-10px)
  }
  60% {
    transform: translateX(10px)
  }
  70% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(200px) translateY(200px) rotate(30deg);
  }
}

@keyframes diary-move {
  0% {
    transform: translateX(400px) translateY(-100px);
  }
  30% {
    transform: translateX(30px) translateY(-100px);
  }
  70% {
    transform: translateX(30px) translateY(-100px);
  }
  100% {
    transform: translateX(-400px) translateY(-100px);
  }
}