@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'SUIT Variable', 'Noto Sans KR', sans-serif;
    color: #4b4b4b;
    background-color: white;
    transition: background-color 0.3s ease;
  }
}

@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSYuji-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.TTLFont{
  font-family: 'MaplestoryOTFBold'
}

.grassFont{
  font-family: 'HSYuji-Regular'
}



/* test  */
.main-container {
  @apply mx-auto flex flex-col;
}

.sub-container {
  @apply relative mx-auto w-full py-10 flex flex-row gap-x-5;
}

.contents-container {
  @apply border-2 mx-auto flex w-full flex-col rounded-lg border-gray-200 bg-white p-6 ;
}

.sidebar-container {
  @apply relative float-left ease-out h-fit;
}

.teaminfo-container {
  @apply border-2 mx-auto flex w-full flex-col rounded-lg border-gray-200 bg-white p-6 ;
}

.write-container {
  @apply border-2 mx-auto flex flex-col justify-between w-full rounded-lg border-gray-200 bg-white p-6 ;
}

.quote-container {
  @apply border-2 mt-3 flex w-[400px] flex-col rounded-lg border-gray-200 bg-white pl-5 pr-5;
}

.grass-container {
  @apply border-2 flex w-[800px] flex-col rounded-lg border-gray-200 bg-white p-6 ;
}

.profile-container {
  @apply border-2 mx-auto flex w-[400px] flex-col rounded-lg border-gray-200 bg-white ;
}

.profileImg {
  transition: 1.5s;
}

.TIL-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.TIL {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 25%;
  height: 50vh;
  max-height: 400px;
  transition: 0.4s ease-in-out;
}

.TIL:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

/* 로딩 바 */
.progress {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 10px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  width: 100%;
  background-color: #ff8f00;
  animation: progressAnimation 5s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #ffe082;
  }
  100% {
    width: 100%;
    background-color: #ff8f00;
  }
}

.card {
  transition: transform 1.2s;
  transform: perspective(3000px) rotateY(0deg);
  transform-style: preserve-3d;
  display: inline-grid;
}

.card.flipped {
  transform: perspective(3000px) rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card > * {
  grid-area: 1 / 1 / 1 / 1;
  backface-visibility: hidden;
}

/* md editor 폰트 크기 */
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 20px !important;
  line-height: 30px !important;
}

/* 마인드맵 */
.target-popper {
  @apply p-2 text-center hidden rounded bg-yellow-100 opacity-70 z-20;
}
.target-popper.active {
  @apply block;
}

/* 모달창 버튼 */
.btn-request {
  @apply w-fit rounded-md border-none bg-amber-500 px-2 py-1 text-[0.7rem] font-bold text-white;
}

.btn-delete {
  @apply w-fit rounded-md border-none bg-red-500 px-2 py-1 text-[0.7rem] font-bold text-white;
}

.btn-accept {
  @apply w-fit rounded-md border-none bg-green-300 px-2 py-1 text-[0.7rem] font-bold text-white;
}

.btn-reject {
  @apply w-fit rounded-md border-none bg-red-500 px-2 py-1 text-[0.7rem] font-bold text-white;
}

button:hover .cock-button-img {
  transform: translateX(-6px); /* 이미지를 왼쪽으로 10px 이동 */
  transition: transform 0.5s ease; /* 애니메이션 효과 적용 */
}
